*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins",sans-serif;
}
#root {
  background-color: #d6d7da;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.text-default {
  color: #6c757d;
}
.icon_size {
  font-size: 50px;
  text-align: center;
}
.icon-color-1{
  color: #ffc107
}
.icon-color-2{
  color: rgba(13,110,253,.7686274509803922)
}
.text-black-50 {
  color: rgb(0 0 0/26%);
}